{% extends 'cms/layout.html' %}

{% block main %}
<!--<div class="list-group">-->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Code</th>
      <th>제목</th>
      <th>태그 목록</th>
      <th>수정</th>
      <th>게시</th>
    </tr>
    </thead>
    <tbody>
    {% for content in contents %}
    <tr>
      <td>{{content.get_code()}}</td>
      <td>{{content.title}}</td>
      <td>{{content.tags | join(', ')}}</td>
      <td><a href="{{url_for('cms-modify', content_code=content.get_code())}}"><button class="btn btn-warning">수정</button></a></td>
      <td>
        {% if user.publish_perm %}

            {% if content.is_published %}
                <button type="button" class="btn btn-success" onclick="unpublishContent(this, '{{content.get_code()}}');"> ON </button>
            {% else %}
                <button type="button" class="btn btn-default" onclick="publishContent(this, '{{content.get_code()}}');"> OFF </button>
            {% endif %}

        {% else %}
            <button class="btn btn-default" disabled="disabled">
            {% if content.is_published %} ON {% else %} OFF {% endif %}
            </button>
        {% endif %}
      </td>
    </tr>

    {% endfor %}
    </tbody>
  </table>
</div>
<!--</div>-->
{% endblock %}