@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
  overflow-y: scroll;
  *overflow-x: hidden;
}

.head-container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.tt-dropdown-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #333;
}

a {
  color: #03739c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table-of-contents {
    padding: 0;
}
.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

.title,
.example-name {
  font-family: "Nanum Gothic", Prociono;
}

p + p {
  margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
  margin: 20px 0 0 0;
  font-size: 56px;
  font-weight: bold;
  color: #28B1A1;
}

.keyword {
  padding: 30px 0;
}

.keyword-name {
  margin: 20px 0;
  font-size: 30px;
}

.keyword-input {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 300px;
  height: 50px;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 30px;
  border: 5px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 5px solid #28B1A1;
}

.btn-keyword {

    height:50px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    margin-top: 27px;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


/***content***/

.content {
    width:768px;
    margin: 0 auto;
    border: solid 1px rgba(40, 177, 161, 0.2);

    padding: 20px;
}


.movie-frame {
    width:320px;
    height:240px;

    margin: 0 auto;
}

@media (min-width: 420px) {
    .typeahead,
    .tt-query,
    .tt-hint {
      width: 380px;
      height: 50px;
      padding: 8px 12px;
      font-size: 24px;
      line-height: 30px;
      border: 5px solid #ccc;
      -webkit-border-radius: 8px;
         -moz-border-radius: 8px;
              border-radius: 8px;
      outline: none;
    }

.   movie-frame {
        width:480px;
        height:320px;
    }
}

@media (min-width: 768px) {
    .typeahead,
    .tt-query,
    .tt-hint {
      width: 420px;
      height: 50px;
      padding: 8px 12px;
      font-size: 24px;
      line-height: 30px;
      border: 5px solid #ccc;
      -webkit-border-radius: 8px;
         -moz-border-radius: 8px;
              border-radius: 8px;
      outline: none;
    }

    .movie-frame {
        width:640px;
        height:480px;
    }
}


@media (min-width: 1280px) {

    .movie-frame {
        width:1024px;
        height:768px;
    }
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

/*
원본: bootstrap 설치 소스의 \bootstrap-3.3.1\docs\assets\css\src\docs.min
http://getbootstrap.com/components/ 의 화면에 적용한 css임.
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
  margin-top: -5px;
}

/* Variations */
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}