{% extends 'layout.html' %}

{% block main %}

<div class="box">
  <div class="info">
    <h3 class="text-center">{{title}}</h3>
    {{body | safe}}

    <div class="content-image"></div>

    {% if embed_movie_url %}
    <div class="content-movie embed-responsive embed-responsive-16by9">
      <iframe  class="embed-responsive-item" src="{{embed_movie_url}}" frameborder="0" allowfullscreen ></iframe>
    </div>

    {% endif %}
  </div>


</div>

</iframe>
{% endblock %}