{% extends 'layout.html' %}

{% block main %}
<div class="row">

<div  align="center" style="white-space: nowrap;">
<img src="/static/img/mint_with_dew.png" class="img-responsive" alt="mint"  width="250" height="250" style="display: inline-block; white-space: normal;">
<img src="/static/img/lemon-300x300.png" class="img-responsive" alt="lemon"  width="250" height="250" style="display: inline-block; white-space: nowrap;">

</div>
</div>
{% endblock %}