
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/box.css">

  <title>내웹서버</title>
</head>
<body>
<div class="container">
  <div class="head-container">
    <h1 class="title">내웹서버</h1>

    <ol class="table-of-contents">
      <li><a href="/">Home</a></li><span> &middot; </span>
      {% if user %}
      <li><a href="{{url_for('signout')}}">Sign Out</a></li>
      {% else %}
      <li><a href="{{url_for('signin')}}">Sign In</a></li><span> &middot; </span>
      <li><a href="{{url_for('signup')}}">Sign Up</a></li>
      {% endif %}
    </ol>


    <form action="/search" id="search">
      <div class="keyword" id="prefetch">
        <input class="typeahead" type="text" name="query" placeholder="입력해보세요" autofocus>
      </div>
    </form>
  </div> <!-- head-container -->
  <div>
    {% block main %}
    {% endblock %}
  </div>
</div> <!-- container -->



<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/typeahead.bundle.js"></script>
<script src="/static/js/index.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
