{% extends 'layout.html' %}

{% block main %}
<div class="container">

    {% for content in contents %}
    <div class="media">
      <div class="media-body">
        <a href="{{url_for('content', content_code=content.get_code())}}">
          <h4 class="media-heading" >{{content.title}} - <span> {{content.tags | join(', ')}}</span></h4>
          <p >{{content.body | striptags | truncate(200)}}</p>
        </a>
      </div>
    </div>
    <hr />
    {% endfor %}

    {% if contents|length ==0 %}
    <p style="text-align: center;">검색 결과가 없습니다.</p>
    {% endif %}
</div>
{% endblock %}